<div class="container full-width">
  <div class="row">
    <div class="hero-section">
    <div class="jumbotron col-lg-12">
      <div class="hero-image col-lg-12">
        <div class="hero-text col-lg-12">
        <p>Stephen Kolawole Ajayi</p>
        <p>Founder & Developer</p>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
